@model List<HanCharacterModel>

<div class="text-center">
    <h1 class="display-4">Han Character List</h1>
</div>

<div class="row">
    <div class="col-12">
        <div class="justify-content-end" style="display:flex;">
            <a class="btn btn-info m-2" asp-action="GetDocument">Document</a>
            <a class="btn btn-primary m-2" asp-action="Create">Create a new Character</a>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Literal</td>
            <td>Radicals</td>
            <td>StrokeCount</td>
        </tr>
    </thead>
    <tbody>
        @foreach(HanCharacterModel hanCharacter in @Model)
        {
            <tr ondblclick="location.href='@Url.Action("Edit", new { literal = hanCharacter.Literal })'">
                <td>@hanCharacter.Literal</td>
                <td>@hanCharacter.Radicals.ToJson()</td>
                <td>@hanCharacter.StrokeCount</td>
            </tr>
        }
    </tbody>
   
</table>
